<launch>

  <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch"/>

  <!-- <node pkg="acfDetector" type="acf_detector" name="acf_detector">
    <param name="sModel" type="string" value="/home/ras17/catkin_ws/src/robo7/vision/detection/acfDetector/model/model_color_mag.cpb"/> -->

  <node pkg="acfDetector" type="multi_acf_detector" name="multi_acf_detector">
    <param name="y_Model" type="string" value="/home/ras17/catkin_ws/src/robo7/vision/detection/acfDetector/model/y_model.cpb"/>
    <param name="g_Model" type="string" value="/home/ras17/catkin_ws/src/robo7/vision/detection/acfDetector/model/g_model.cpb"/>
    <param name="o_Model" type="string" value="/home/ras17/catkin_ws/src/robo7/vision/detection/acfDetector/model/o_model.cpb"/>


  </node>

</launch>
