<launch>

  <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch"/>

  <node pkg="acfDetector" type="acf_detector" name="acf_detector">
    <param name="acfModel" type="string" value="/home/ras17/catkin_ws/src/robo7/vision/detection/acfDetector/model/model_color_mag.cpb"/>
    <param name="scoreThre" type="int" value=50 />


  </node>

</launch>
