<launch>

  <!-- <node pkg="ras_maze_map" type="ras_maze_map_node" name="maze_map"
        args="_map_file:=$(find deadrckoning)/maps/lab_maze_2018.txt"/> -->

  <node pkg="own_map" type="own_map" name="own_map"
        args="_map_file:=$(find own_map)/maps/lab_maze_2018.txt"/>

  <node pkg="visualization" type="visualization" name="visualization">
    <param name="lidar_angle" type="double" value="3.14"/>
  </node>

  <node pkg="tf" name="lidar_plot" type="static_transform_publisher" args="0 0 0.1 0 0 3.14 0 /robot /laser 100" />

  <node pkg="tf" name="object_plot" type="static_transform_publisher" args="0.1 0 0.15 0 1.57 0 /robot /cam 100" />

  <node pkg="ransac" type="scan_to_coordinates" name="scan_to_coordinates">
    <param name="lidar_angle" type="double" value="3.14"/>
  </node>

  <node pkg="visualization" type="paths" name="paths" output = "screen"/>

  <node pkg="visualization" type="laserXY" name="laserXY"/>

  <node pkg="visualization" type="dest_point_plot" name="dest_point_plot"/>

</launch>
