<launch>
  <!-- motors -->
  <node pkg="phidgets" type="motor" name="l_motor"
        args="_serial:=469412 _name:=l_motor _frequency:=10"  output="screen"/>
  <node pkg="phidgets" type="motor" name="r_motor"
        args="_serial:=469741 _name:=r_motor _frequency:=10"  output="screen"/>

  <!-- Servos -->
  <node pkg="arduino_servo_control" type="servo_control" name="arduino_servo_control"  output="screen"/>

  <!-- Lidar -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

  <!-- Phidget -->

  <!-- Speaker -->
  <!-- If we want the e-speak output displayed, change add  output="screen" -->
  <node pkg="ras_espeak" type="espeak_node" name="espeak_node"/>
  <node pkg="speaker" type="speaker" name="speaker"  output="screen"/>

  <!-- Camera -->
  <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch"/>

</launch>
