<launch>

  <include file="$(find robo7_launch)/launch/hardware.launch"/>

  <node pkg="robo7_launch" type="initialisation" name="initialisation" output="screen">
    <param name="use_mapping_mode" type="bool" value="true"/>
    <param name="time_before_starting_everything" type="double" value="5.0"/>
  </node>

  <include file="$(find robo7_launch)/launch/kinematics.launch"/>

  <include file="$(find robo7_launch)/launch/vision.launch"/>

  <include file="$(find visualization)/launch/rviz_plots.launch"/>

</launch>
