<launch>

  <node pkg="object_visualization" type="object_to_robot" name="object_to_robot"  output="screen"/>
  <node pkg="object_filter" type="object_filter" name="object_filter"  output="screen"/>


  <node pkg="acfDetector" type="acf_detector" name="acf_detector">
    <param name="acfModel" type="string" value="/home/ras17/catkin_ws/src/robo7/vision/detection/acfDetector/model/model_color_mag.cpb"/>
    <param name="scoreThre" type="double" value="50"/>
  </node>

</launch>
